<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Coal Refine.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Gold Refine.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,0},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Iron Refine.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,0},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Amethyst Stuff.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,0},{24,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{4,3},{24,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Coal Stuff.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,0},{24,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{4,3},{24,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Diamond Stuff.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,0},{24,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{4,3},{24,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Emerald Stuff.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{24,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{4,3},{24,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Gold Stuff.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{24,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{4,3},{24,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Iron Stuff.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,0},{24,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{4,3},{24,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Extra Bomb.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,0},{22,26}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,3},{22,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Medium Dynamite.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,0},{20,26}}</string>
        <key>offset</key>
        <string>{2,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{8,4},{20,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Amethyst Refine.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,0},{24,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{24,24}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Diamond Refine.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,20},{24,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{24,24}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Emerald Refine.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,22},{24,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{24,24}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Small Dynamite.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,24},{16,24}}</string>
        <key>offset</key>
        <string>{4,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{12,4},{16,24}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Medium Bomb.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,24},{20,22}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{8,5},{20,22}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Items.png</string>
      <key>size</key>
      <string>{328,46}</string>
      <key>textureFileName</key>
      <string>Items.png</string>
    </dict>
  </dict>
</plist>
