<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Amethyst.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Bedrock.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,32},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Coal.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,64},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Diamond.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,96},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Dirt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Emerald.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,160},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Gold.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,192},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Grass Dirt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,224},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Iron.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,256},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Stone.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,288},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Break4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,320},{28,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{28,30}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Break3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,350},{24,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,3},{24,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Break2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,376},{18,16}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,9},{18,16}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Break1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,394},{6,6}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,13},{6,6}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Tileset.png</string>
      <key>size</key>
      <string>{32,400}</string>
      <key>textureFileName</key>
      <string>Tileset.png</string>
    </dict>
  </dict>
</plist>
